<% content_for :title do %>Guidance Guarantee Programme<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_alpha" data-view="Travis" data-unordered="true" data-title="Alpha"></div>
    </li>

  </ul>
</div>
